<aside class="right">  
    	<div class="about_c">
	    <!--<p><span>{{.options.nickname}}</span></p>-->
		<p><span>吴俏祥</span></p>
	    <p>生日：1986-12-15</p>
	    <p>籍贯：安徽池州</p>
	    <p>现居：北京</p>
	    <p>职业：区块链讲师</p>
	    <p>爱好：摄影、旅行、交友</p>
	    <p>运动：游泳、爬山、跑步</p>
	    <p><a target="_blank" href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=764217451@qq.com" style="text-decoration:none;"><img src="http://rescdn.qqmail.com/zh_CN/htmledition/images/function/qm_open/ico_mailme_02.png"/></a></p>
	</div>
	<div class="aboutme"><div/>
</aside>